<footer class="g-footer">
    <div id="skPlayer"></div>
    <script src="http://ouav818sk.bkt.clouddn.com/skPlayer.min.js"></script>
    <p>
        <script>
        var player = new skPlayer({
        autoplay: true,
        listshow: true,
        mode: 'listloop',
        music: {
        type: 'cloud',
        source: 2016349850
        }
        });
        </script>
    </p>
    <section>{{ site.title }} © {{ site.time | date: '%Y' }}</section>
    <section>Powered by <a href="https://github.com/740291272/Gweb">G Web</a> | <a href="#">CopyRight GloomyGhost</a></section>
    <p>
    <div class="busuanzi-count">
        <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span class="site-uv" title="总点击人数">
					<img src="/assets/vendor/octicons/svg/person.svg" width="10" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_uv"></span></span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="site-pv" title="总点击量">
					<img src="/assets/vendor/octicons/svg/eye.svg" width="16" height="16">
			<span class="busuanzi-value" id="busuanzi_value_site_pv"></span></span>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <span class="page-pv"title="本页面点击人数">
					<img src="/assets/vendor/octicons/svg/file-text.svg" width="12" height="16">
			<span class="busuanzi-value" id="busuanzi_value_page_pv"></span></span>
    </div>
    </p>
    <p>
        <script type="text/javascript" src="https://api.lwl12.com/hitokoto/main/get?encode=js&charset=utf-8"></script><div id="lwlhitokoto"><script>lwlhitokoto()</script></div>
    </p>
</footer>
