.text-title {
	font-family: "华文行楷";
	font-size: 22px;
	font-style: normal;
	line-height: 30px;
	font-weight: bold;
	color: #65c65c;
}
.text-wec {
	font-family: "方正舒体";
	font-size: 20px;
	line-height: 8px;
	color: #65c65c;
}
.text-nav {
	color: #65c65c;
	font-size: 26px;
	font-style: inherit;
	font-weight: bold;
}
.text-links {
	font-family: "华文行楷";
	font-size: 30px;
	color: #CFF;
	font-weight: bold;
	text-decoration: underline;
}
.text-newstile {
	font-family: "华文新魏";
	font-size: 22px;
	color: #65c65c;
}
.text-newscon {
	font-family: "微软雅黑";
	font-size: 15px;
	color: #CCC;
}
.bcg-form {
	background-image: url(../images/textfieldbgco.png);
	background-repeat: repeat;
	font-size: 20px;
	color: #000;
}
.text-an {
	font-size: 12px;
	color: #CCC;
}
.text-an link {
	text-decoration: underline;
}

.button-test {
	font-family: "微软雅黑";
	font-size: 18px;
	color: #CCC;
	text-decoration: underline;
}
.bcg-form table .button-test td {
	color: #E5E5E5;
	text-decoration: underline;
}
.headlink {
	font-family: "华文新魏";
	font-size: 18px;
	color: #65C65C;
	text-decoration: underline;
	font-style: italic;
}
